
.calendar{
  width: 600px;
  background: #555;
  color: white;
  text-align: center;
}

table{
  width: 100%;
  background: #555;
  text-align: center;  
  
  td{

    content: '';
    padding: 5px;

    border: 1px solid #eee;
  }
  
}