<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>javascript> study> book</title>
  <style>
    html{
      font-size: 10px;
    }
    body{
      font-size: 1.6rem;
    }     
    [v-cloak]{
      display: none;
    }    
    .desc{
      margin-top: .5rem;
      font-size: 1.3rem;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <h2>exam list</h2>
    <ul>
      <li v-for="exam in examList">
        <a v-bind:href="urlPrefix + exam.url" target="_blank">{{ exam.title }}</a>
        <div v-if="exam.desc" class="desc">{{exam.desc}}</div>
      </li>
    </ul>
  </div>
<script src="https://unpkg.com/vue"></script>
<script>
  var app = new Vue({
    el: '#app', 
    data: {
      urlPrefix: 'https://mz-hanb.github.io/js-study-book-projectbook/',
      examList: [
        {title: 'chapter05> multiplication-table', url: 'chapter05/multiplication-table.html'},
        {title: 'chapter05> todoList', url: 'chapter05/todoList.html'},
        {title: 'chapter06> calulator', url: 'chapter06/cal.html'},
        {title: 'chapter07> lightbox', url: 'chapter07/'},
        {title: 'chapter08> calendar', url: 'chapter08/'},
        {title: 'chapter09> 3d page', url: 'chapter09-3Dpage/'},        
        {title: 'chapter10-v> banner: requestAnimationFrame', url: 'chapter10-banner-v2/', desc: 'point> UI구성, Math.random(), requestAnimationFrame'},
        {title: 'chapter11> map: google', url: 'chapter11-map/', desc: 'get current location and show map'},
      ]
    }     
  })

</script>
</body>
</html>