// common
*{
  box-sizing: border-box;
}

// vars


.banner{  
  position: relative;
  width: 600px;  
  height: 190px;
  transition: all .3s;    

  &-contents{
    position: absolute;    
    overflow: hidden;    
    width: 600px;
    height: 190px;
    border: 1px solid #e3e3e3;
    background: url('../imgs/bg.png');
    transition: all .3s;    
  } 
  
  button{
    position: absolute;    
    border: none;
    padding: 5px;    
    cursor: pointer;
  }
  .btn-close-banner{  
    right: 0; 
    bottom: -28px;
  }
  .btn-toggle-bgm{
    left: 5px;
    bottom: 5px;   
    background: url('../imgs/sound_off.png') no-repeat;
    text-indent: -9999px;
  }
  .balloon{
    position: absolute;    
    display: inline-block; 
    top: -120px;    
    cursor: pointer;       
    animation-name: falldown, rotateBalloon;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67), cubic-bezier(.17,.67,.83,.67);
    // 참고
    // https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function
    // http://cubic-bezier.com
  }  
}
.close{
  height: 0px;    
}

// animations
@keyframes falldown {
  from{
    top: -120px;
    transform: rotate(0deg);
  }
  to{
    top: 320px;
    transform: rotate(360deg);
  }    
}
@keyframes rotateBalloon{
  from{      
    transform: rotate(0deg);
  }
  to{      
    transform: rotate(360deg);
  }   
  
}